<div class='container'>
    <div class='row'>
        <div class='col-12 text-center'>
            <h2>Recents Topics</h2>
        </div>
    </div>


    <div class='row'>
        <div class='col-12 text-center'>
            <ul class='list-group'>
                <%= for topic <- @topics do %>
                    <li class='list-group-item'> <a href='/topics/<%= topic.id %>'> <%= topic.title %> </a></li>
                <%end%>
            </ul>
        </div>
    </div>
</div>